@import 'index.scss';

.goBackBtn {
  position: fixed;
  left: 25px;
  top: 25px;
  @include tablet-media {
    left: 55px;
  }
  text-transform: uppercase;
  font-family: 'Karla';
  @include font(18px, 21px, 600);
  color: $mainTextColor;
}
.containerInfo {
  @include centeredFlex();
  flex-direction: column;
  padding: 124px 0px 0px 0px;
  @include tablet-media {
    padding: 76px 0;
  }
}
.img {
  border: 5px solid #f2f2f7;
  width: 150px;
  @include tablet-media {
    width: 300px;
  }

  border-radius: 150px;
  margin-bottom: 34px;
  @include tablet-media {
    margin-bottom: 16px;
  }
}
.title {
  color: #081f32;
  @include font(32px, 38px, 400);

  margin-bottom: 34px;
  @include tablet-media {
    @include font(48px, 56px, 400);
    margin-bottom: 48px;
  }
}
.containerDescription {
  width: 312px;
  @include tablet-media {
    width: 413px;
  }
}
.subTitle {
  @include font(20px, 24px, 500);
  color: #6e798c;
  @include tablet-media {
    text-align: center;
  }
  margin-bottom: 16px;
  @include tablet-media {
    margin-bottom: 48px;
  }
}
.list {
  padding-left: 16px;
}

.item {
  padding: 9px 0 12px 0;
  border-bottom: 1px solid #e5e5e5;
}
.secr {
  color: #081f32;
  @include font(16px, 24px, 700);
}
.value {
  color: #6e798c;
  @include font(14px, 20px, 400);
  text-transform: capitalize;
}
