@import-normalize; /* bring in normalize.css styles */

@import './vars';
@import './mixins';

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  // font-size: 18px;
  // color: $mainTextColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

// .container {
//   min-width: $to-mobile;
//   width: 100%;
//   margin: 0 auto;
//   padding: 0 20px;

//   @include mobile-media {
//     width: $mobile;
//   }

//   @include tablet-media {
//     width: $tablet;
//     padding: 0 32px;
//   }

//   @include desktop-media {
//     width: $desktop;
//     padding: 0 16px;
//   }
// }
