@import-normalize; /* bring in normalize.css styles */

@import './_vars';
@import './_mixins';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;

  color: $mainTextColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  min-width: $to-mobile;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 24px;

  @include mobile-media {
    min-width: $mobile;
  }

  @include tablet-media {
    min-width: $tablet;
  }

  @include desktop-media {
    width: $desktop;
  }
}
