/* TEXT */
// $mainTextColor: #000000;
// $secondaryTextColor: #ffffff;
// $placeholderColor: #bdbdbd;
// $blueTextColor: #4a56e2;
// $accentTextColor: #24cca7;
// $redTextColor: #ff6596;
// $balanceTextColor: #a6a6a6;
// $swichTextColor: #e0e0e0;
// $headerTextColor: #bdbdbd;

/* BACKGROUND */
// $mainBgnColor: #ffffff;
// $secondaryBgnColor: #e7eaf2;
// $accentBgnColor: #24cca7;
// $redBgnColor: #ff6596;
// $blueBgnColor: #4a56e2;
// $backdropColor: rgba(0, 0, 0, 0.25);
// $backdropLightColor: rgba(255, 255, 255, 0.4);
// $dropdownColor: rgba(255, 255, 255, 0.7);

/* SHADOW */
$shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);

/* BREAKPOINTS */
$mobile: 420px;
$tablet: 768px;
$desktop: 1280px;
$to-mobile: 320px;
$to-tablet: 767px;
$to-desktop: 1279px;

/* Icons */

// Decor


// animation
$animation: 350ms cubic-bezier(0.4, 0, 0.2, 1);
