$mainTextColor: #000000;
$secondaryTextColor: rgba(0, 0, 0, 0.6);
$placeholderColor: rgba(0, 0, 0, 0.5);

$shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
  0px 2px 4px rgba(0, 0, 0, 0.14);

/* BREAKPOINTS */
$mobile: 360px;
$only-mobile: 480px;
$to-only-mobile: 479px;
$tablet: 768px;
$desktop: 1068px;
$to-mobile: 359px;
$to-tablet: 767px;
$to-desktop: 1067px;

$animation: 350ms cubic-bezier(0.4, 0, 0.2, 1);
